<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="movie-rank-page">
{% for movie in movies %}
    <div class="movie-container" style="background-image: url('{{ movie.tmdb_movie.get_backdrop_path() }}')">
        <div class="blur"></div>
        <div class="movie-content">
            <h4>{{ movie.tmdb_movie.title }}</h4>

            <div class="movie-main-container">
                <img src="{{ movie.tmdb_movie.get_poster_path() }}" class="movie-poster">

                <div class="movie-main-content">
                    <div class="col">
                        <div class="global-score">{{ movie.score() }}</div>
                        <table class="movies-rates">
                            {% for site in movie.get_rates() %}
                                <tr class="movie-rate">
                                    <td class="rate-website">
                                        <a href="{{ movie.get_external_ids()[site] }}"
                                           target="_blank">{{ site }}</a>
                                    </td>
                                    <td class="rate-rate">{{ movie.get_rates()[site]['rate'] }}</td>
                                    <td class="rate-count">{{ movie.get_rates()[site]['rates_count'] }}&nbsp;&nbsp;notes</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col">
                        <p class="overview">{{ movie.tmdb_movie.overview }}</p>

                        <div class="prochaine_seance">
                            Prochaine séance : {{ movie.upcoming_seances[0].local_timezone().strftime('%H:%M') }}
                            <span class="prochaine_seance_specs">{{ ', '.join(movie.upcoming_seances[0].get_specificites()) }}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename="js/app.js") }}"></script>
</body>
</html>
