<!DOCTYPE html>
<html>
<head>
    <title>Films à l'affiche au {{ cinema.name }} de {{ cinema.ville }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="movie-rank-page">
{% for movie in movies %}
    <div class="movie-container" style="background-image: url('{{ movie.tmdb_movie.get_backdrop_path() }}')">
        <div class="blur"></div>
        <div class="movie-content">
            <h4>{{ movie.tmdb_movie.title }}</h4>

            <div class="movie-main-container">
                <img src="{{ movie.tmdb_movie.get_poster_path() }}" class="movie-poster">

                <div class="row movie-main-content">
                    <div class="col s3">
                        <div class="global-score">{{ movie.score() }}</div>
                        <table class="movies-rates">
                            {% for site in movie.get_rates() %}
                                <tr class="movie-rate">
                                    <td class="rate-website">
                                        <a href="{{ movie.get_external_ids()[site] }}"
                                           target="_blank">{{ site }}</a>
                                    </td>
                                    <td class="rate-rate">{{ movie.get_rates()[site]['rate'] }}</td>
                                    <td class="rate-count">{{ movie.get_rates()[site]['rates_count'] }}&nbsp;&nbsp;notes</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col s9">
                        <p class="overview">{{ movie.tmdb_movie.overview }}</p>


                        <div class="next_seances">
                            <h5>Prochaines séances :</h5>
                            <div class="z-depth-1">
                                <ul class="tabs">
                                    {% for day in movie.get_upcoming_seances_by_day_by_version() %}
                                        <li class="tab col">
                                            <a href="#{{ movie.id }}_{{ day.timetuple().tm_yday }}">{{ day.strftime('%A %d %b') }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content-container">
                                    {% for day in movie.get_upcoming_seances_by_day_by_version() %}
                                        <div id="{{ movie.id }}_{{ day.timetuple().tm_yday }}">
                                            {% for version in movie.get_upcoming_seances_by_day_by_version()[day] %}
                                                <div>
                                                    <h6>{{ version }}</h6>
                                                    <div>
                                                        <span> | </span>
                                                        {% for seance in movie.get_upcoming_seances_by_day_by_version()[day][version] %}
                                                            <span>{{ seance.local_timezone().strftime('%H:%M') }}</span>
                                                            <span class="seance_specificite">{{ ', '.join(seance.get_specificites()) }}</span>
                                                            <span> | </span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename="js/app.js") }}"></script>
</body>
</html>
