.movie-rank-page .movie-container {
  background-size: cover;
  background-position: center center;
  position: relative; }
  .movie-rank-page .movie-content {
    z-index: 1;
    position: relative;
    padding: 30px 60px;
    color: #fff; }
    .movie-rank-page h4 {
      margin-top: 0; }
      .movie-rank-page .movie-main-container {
        display: flex; }
        .movie-rank-page .movie-poster {
          max-height: 250px;
          box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 17px 4px; }
          .movie-rank-page .blur {
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0; }
            .movie-rank-page .movie-main-content {
              margin-left: 20px;
              width: 100%; }
              .movie-rank-page table.movies-rates {
                line-height: 25px; }
                .movie-rank-page table.movies-rates tr.movie-rate {
                  border-bottom: none; }
                  .movie-rank-page table.movies-rates tr.movie-rate td {
                    padding: 0; }
                    .movie-rank-page table.movies-rates tr.movie-rate td.rate-website,
                    .movie-rank-page table.movies-rates tr.movie-rate td.rate-rate {
                      padding-right: 30px; }
                      .movie-rank-page table.movies-rates tr.movie-rate td.rate-website a {
                        color: inherit; }
                        .movie-rank-page table.movies-rates tr.movie-rate td.rate-count {
                          font-size: 10px;
                          font-style: italic;
                          white-space: nowrap; }
.movie-rank-page .next_seances .seance_specificite {
  font-size: 0.8rem; }
  .movie-rank-page .next_seances .tab-content-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); }
    .movie-rank-page .next_seances .tabs {
      background-color: rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid rgba(132, 132, 132, 0.28); }
      .movie-rank-page .next_seances .tabs .tab a {
        color: #fff; }
.movie-rank-page .global-score {
  font-size: 30px;
  line-height: 50px; }
  .movie-rank-page p.overview {
    font-weight: 300;
    line-height: 1.5; }

.home {
  text-align: center; }
